.hero_container {

  display: grid;
  text-align: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-area: 1 / 1;
  height: 70vh;
  width: 100%;
  margin: 0;
  background: var(--color-primary-gradient);
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}
.welcome h1 {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}
.welcome p {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  font-size: 2rem;
  width: 60%;
}
@media (max-width: 768px) {
  .hero_container {
    margin: 0 0rem;
  }
  .welcome {
    height: 50vh;
  }
  .welcome h1 {
    font-size: 2rem;
  }
  .welcome p {
    font-size: 1.3rem;
    width: 85%;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
